@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #f57c00;
}

p {
  color: #ffc107;
}

h1, h2, h3, h4, h5, h6, p, a, label {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  padding: 10px 0px;
  font-size: 50;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: 0;
}

.btn {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-size: 20;
  font-weight: 500;
}

.btn {
  border: none;
  color: #f57c00;
  background-color: #490a18;
}
.btn:hover {
  color: #f57c00;
  background-color: #25040b;
}

header {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to bottom, #490a18, #25040b);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000;
}
header ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  animation: fadeInDown;
  animation-duration: 750ms;
  margin-bottom: 0;
  padding: 0;
}
header ul a {
  text-decoration: none;
  color: #f57c00;
  font-size: 24px;
  padding: 0px 10px;
}
header img {
  margin-left: 50px;
  width: 150px;
  height: 100px;
  animation: fadeInDown;
  animation-duration: 650ms;
}

@media (max-width: 576px) {
  body {
    margin-top: 145px;
  }
  header {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    text-decoration: none;
    color: #f57c00;
    font-size: 16px;
    padding: 0px 10px;
  }
  header img {
    margin-left: 0px;
    animation: fadeInDown;
    animation-duration: 750ms;
  }
  header ul {
    animation: fadeInDown;
    animation-duration: 750ms;
  }
  header main {
    margin-left: 0px;
  }
}
@media (max-width: 393px) {
  body {
    margin-top: 180px;
  }
  header {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    text-decoration: none;
    color: #f57c00;
    font-size: 24px;
    padding: 0px 10px;
  }
  header img {
    margin-left: 0px;
  }
  header main {
    margin-left: 0px;
  }
}
main {
  margin-top: 75px;
  margin-left: 150px;
  margin-right: 150px;
  min-height: 80vh;
}
main .video-banner {
  width: 100%;
  display: flex;
  justify-content: center;
}
main li {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #ffc107;
  font-size: 26px;
}
main p {
  font-size: 26px;
}
main textarea {
  height: 200px;
  width: 400px;
}
main .form-labels {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  color: #f57c00;
  font-size: 24px;
}
main #large-cards {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
main #small-cards {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
main .product-name {
  padding: 0px;
  text-decoration: none;
  color: #f57c00;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
main .product-price {
  padding: 0px;
  color: #ffc107;
  font-size: 20;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
main .card {
  background-color: rgba(255, 255, 255, 0.09);
  margin: 10px 0px;
}
main .card-align {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .card-footer {
  padding: 0px;
}
main .back-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f57c00;
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
  transition: 0.3 ease-in-out;
}
main .back-to-top span {
  color: #490a18;
  transition: 0.3 ease-in-out;
}
main .back-to-top:hover {
  background-color: #ffc107;
}
main .back-to-top:hover span {
  transform: translateY(-2px);
  transition-duration: 250ms;
}
main .about-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  animation: fadeIn;
  animation-duration: 1.5s;
}

@media (max-width: 393px) {
  main {
    margin-top: 75px;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 80vh;
  }
}
@media (max-width: 576px) {
  main {
    margin-top: 75px;
    margin-left: 40px;
    margin-right: 40px;
    min-height: 80vh;
  }
}
footer form {
  background-color: rgba(255, 255, 255, 0.06);
  width: 100%;
}
footer form .form-labels {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 0px 0px 10px 0px;
  color: #f57c00;
}
footer .newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h2 {
  margin: 0px;
  padding: 0px;
}
footer p {
  display: flex;
  justify-content: flex-start;
  color: #f57c00;
  font-size: 24px;
  margin-bottom: 0px;
}

body {
  background-image: url("../images/flatline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -100000;
}

@media (max-width: 393px) {
  body {
    background-image: linear-gradient(to bottom, #25040b, #490a18);
    background-position: right 170px;
  }
}
@media (max-width: 576px) {
  body {
    background-image: linear-gradient(to bottom, #25040b, #490a18);
    background-position: right 130px;
  }
}

/*# sourceMappingURL=styles.css.map */
