@font-face {
    font-family: 'Coolvetica';
    src: url('../fonts/coolvetica-condensed.otf');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Coolvetica';
}
body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70px auto 40px;
    grid-template-areas: 
    "header header header header header"
    "none main main main aside"
    "none main main main aside"
    "footer footer footer footer footer";
    background-image: url('../images/flatline.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -100000;
}
header img{
    margin-left: 50px;
    width: 150px;
    height: 100px;
}
header{
    grid-area: header;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to bottom, #27060d, #25040b);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: +1000000;
    }
header ul{
   list-style-type: none; 
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}
header .menu-item a{
    text-decoration: none;
    color: #f57c00;
    font-size: 24px;
    padding: 0px 10px;
}
main{
    min-height: 80vh;
    grid-area: main;
}    
.thumb{
    padding: 0px 100px 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}
.video-banner{
    width: 100%;
    display: flex;
    justify-content: center;
}
.thumbnails{
    padding: 10px;
    height: 200px;
    width: 200px;
}
.large-thumbnails{
    padding: 10px 10px;
    height: 300;
    width: 200;
}
.title{
    padding: 10px 0px;
    color: #f57c00;
    font-size: 36;
    font-weight: 4600;
    display: flex;
    justify-content: center
}
p{
    padding: 10px;
    color: #ffc107;
    font-size: 24;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
footer{
    grid-area: footer;
}
footer p{
    color: #f57c00;
    font-size: 24;
}
div p{
    font-size: 30;
}
div h2{
    padding: 5px;
    font-size: 24;
    color: #f57c00;
    display: flex;
    justify-content: center;
}
form{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.060);
    width: 100%;
}
.newsletter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #f57c00;
}
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea{
    height: 200px;
    width: 400px;
}
input[type=text]{
    width: 250px;
}
.form-labels{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    color: #f57c00;
    font-size: 24;
}
h2{
    color: #f57c00;
}
.btn{
    color: #f57c00;
    background-color: lightgray;
    border-color: gray;
}
#large-cards{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
#small-cards{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.product-name{
    padding: 0px;
    text-decoration: none;
    color: #f57c00;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
.product-price{
    padding: 0px;
    color: #ffc107;
    font-size: 20;
    font-weight: 400;
}
.card{
    background-color: rgba(255, 255, 255, 0.090);
    margin: 10px 0px
}
.card-align{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-footer{
    padding: 0px;
}
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f57c00;
    border-radius: 4px;
    padding: 0.3rem;
    text-decoration: none;
    transition: 0.3 ease-in-out;
}
.back-to-top span{
    color: #25040b;
    transition: 0.3 ease-in-out;
}
.back-to-top:hover{
    background-color: #ff952c;
}
.back-to-top:hover span{
    transform: translateY(-2px);
    transition-duration: 250ms;

}
@media (max-width: 360px){
    header{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header .menu-item a{
        text-decoration: none;
        color: #f57c00;
        font-size: 16px;
        padding: 0px 10px;
    }
    header img{
        margin-left: 0px;
    }
    main{
        margin-top: 100px;
    }
    .video-banner{
        width: 100%;
        display: flex;
        align-items: center;
    }
    textarea{
        height: 150px;
        width: 250;
    }
    #email{
        width: 150;
    }
    #name{
        width: 150;
    }
    
}
@media (max-width: 480px){
    header{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header img{
        margin-left: 0px;
    }
    main{
        margin-top: 100px;
    }
    .video-banner{
        width: 100%;
        display: flex;
        align-items: center;
    }
    textarea{
        height: 150px;
        width: 250;
    }
    #email{
        width: 150;
    }
    #name{
        width: 150;
    }
}