body{
    background-image: url('../images/flatline.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -100000;
}
@include small{
    body{
        background-image: linear-gradient(to bottom, $quaternary-color, $tertiary-color);
        background-position: right 170px;
    }
}
@include mobile{
    body{
        background-image: linear-gradient(to bottom, $quaternary-color, $tertiary-color);
        background-position: right 130px;
    }
}